@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    min-width: 372px;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

.bg-navbar{
    background-color: rgb(0, 0, 0) !important;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.nav-link{
    color: white !important;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    font-weight: 800;
}


/* Garante que a navbar fixa não cubra o conteúdo */
body {
    padding-top: 70px; /* Ajuste conforme a altura da navbar */
}

/* Limita a altura do carousel */
#carouselExampleDark {
    max-height: 300px;
}

/* Ajusta as imagens do carousel */
.carousel-item img {
    height: 300px; /* Mantém a proporção */
    object-fit: cover; /* Evita distorções */
}

.texto-separador{
    color: blue;
    margin:20px 0px;
    font-weight: 700;
    font-size: 20pt;
    text-decoration: none;
}

/* Estilo personalizado para os botões de paginação */
#pagination-controls .btn {
    padding: 0.25rem 0.5rem; /* Reduz o preenchimento interno */
    font-size: 0.875rem;     /* Diminui o tamanho da fonte */
    line-height: 1.2;        /* Ajusta a altura da linha */
    min-width: 30px;         /* Define uma largura mínima para os botões */
    height: 30px;            /* Define uma altura fixa */
    display: inline-block;           /* Centraliza o conteúdo horizontalmente */
    align-items: center;     /* Centraliza o conteúdo verticalmente */
    justify-content: center; /* Centraliza o texto dentro do botão */
}

.produtocarrinho{
    width: 50%;
}

@media (max-width: 426px) {
    #pagination-controls .btn{
        padding: 0.15rem 0.3rem; /* Reduz ainda mais o preenchimento interno */
        font-size: 0.7rem;       /* Diminui o tamanho da fonte */
        min-width: 25px;         /* Reduz a largura mínima */
        height: 25px;            /* Reduz a altura */
        margin-top: 10px;
    }
    #sort-options{
        margin-top: 8px;
    }
    .produtocarrinho{
        width: 190px;
    }
}


p.truncate-4l {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limita a 4 linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Fixar o botão no canto inferior direito */
/* Estilo para o botão flutuante */
.fixed-bottom-end {
    position: fixed;
    bottom: 20px; /* Distância do rodapé */
    right: 20px; /* Distância da borda direita */
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

/* Ajuste para telas menores (mobile) */
@media (max-width: 768px) {
    .btn-carrinho-web{
        display: none;
    }
    .fixed-bottom-end {
        bottom: 15px;
        right: 15px;
    }
}

/* Estilo para o ícone */
.icon-white {
    color: #ffffff; /* Cor branca */
    font-size: 2rem; /* Tamanho do ícone */
}
/*footer*/